html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  width: 100%;
}

section {
  width: 33%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}

#header {
  font-size: 2.5rem;
  color: #333;
  margin-top: 1rem;
}

#description {
  font-size: 1.5rem;
  color: #616060;
}

#output {
  color: #333;
  font-size: 3rem;
  margin-top: 1.2rem;
  padding-bottom: 1.3rem;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

#time-in {
  width: 25%;
  border-radius: 0.4rem;
  padding: 0.8rem 1.7rem;
}

@media screen and (max-width: 1115px) {
  #time-in {
    margin-top: 0.6rem;
    width: 40%;
  }
}

@media screen and (max-width: 714px) {
  #generate-btn-timed {
    margin-top: 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  #time-in::placeholder {
    color: transparent;
  }
}